
.imgPreview {
    text-align: center;
    /* margin       : 5px 15px; */
    /* height: 55px; */
    width: 84px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}